@mixin breakpoint($point) {
  @if $point == tablet {
    @media (max-width: 1023px) { @content ; }
  }
  @else if $point == mobile {
    @media (max-width: 767px) { @content ; }
  }
  @else if $point == not_mobile {
    @media (min-width: 768px) { @content ; }
  }
  @else {
    @media (max-width: $point) { @content ; }
  }
}

body {
  background: #fff;
  font-family: "Averta", Arial, sans-serif;
  font-weight: normal;
  position: relative;
  color: #38364d;

  box-sizing:border-box;font-weight:normal;
  *,*::before,*::after{box-sizing:inherit;margin:0;padding:0;font-weight:inherit;}
  li{list-style:none;}
  a{text-decoration:none;}
}

input[type="button"]{
    &:focus {
      border: none;
      outline: none;
    }
  }

.main {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 60px auto;
  overflow: hidden;

  @include breakpoint(mobile) {
    margin: 0 auto;
  };

  .content {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
    width: 1200px;
    flex-flow: row wrap;
    justify-content: space-around;

    .smile {
      margin: auto;
      width: 33.333%;
      height: auto;
    }
  }

}

.btm-row {
  margin-top: 30px;
  margin-left: -9px;
  #controls {
    display: inline-block;
    margin-right: 20px;
  }
}

.toggle-btn {
  cursor: pointer;
}

.hidden {
  height: 0;
  overflow: hidden;
}
canvas+div {
  z-index: -1;
  height: 0;
  overflow: hidden;
}
